<main class="hero-section text-white text-center">
    <div class="container text-end">
        <h1 class="display-4 fw-bold">REPUESTOS EN GENERAL</h1>
        <h1 class="fw-bold">para camiones de todas las marcas.</h1>
        <p class="lead fw-semibold">Somos una empresa importadora de repuestos.</p>
    </div>
</main>

<div id="pagina1">
    <app-pagina1></app-pagina1>
  </div>
  <div id="pagina2">
    <app-pagina2></app-pagina2>
  </div>
  <div id="pagina3">
    <app-pagina3></app-pagina3>
  </div>
  <div id="pagina4">
    <app-pagina4></app-pagina4>
  </div>
  <div id="pagina5">
    <app-pagina5></app-pagina5>
  </div>  